html {
    background-color: black;
}

.poster {
    margin-top: 100px;
    text-align: center;  
    font-family: 'Libre Baskerville', serif;
    color:white;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

.motivational {
    border:5px solid white;
    height: 325px;
}